html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

*, *::before, *::after {
	outline: 1px solid black;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0%;
}

nav {
	overflow: auto;
}

nav > a {
	float: left;
	margin: 1rem;
	margin-left: 5rem;
}

nav > a img {
	height: 2rem;
}

nav > ul {
	text-align: center;
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
}

nav ul li {
	display: inline-block;
	margin-right: 2.5vw;
	height: 2rem;
}

nav ul li:nth-of-type(1n+7){
	vertical-align: middle;
}

@media (max-width: 800px) {
	nav li:nth-of-type(1), nav li:nth-of-type(2), nav li:nth-of-type(5) {
		display: none;
	}
}

@media (max-width: 600px) {
	nav li:nth-of-type(3), nav li:nth-of-type(4), nav li:nth-of-type(6) {
		display: none;
	}
}

.book-online {
	padding: 1rem;
	color: black;
	background: white;
	text-decoration: none;
}
.book-online:is(:hover, :focus, :active) {
	text-decoration: underline;
	cursor: pointer;
}

.book-online::before {
	content: "—";
	padding-right: 0.5rem;
}

nav .book-online {
	float: right;
	position: relative;
	top: -0.5rem;
}

nav img {
	height: 1.5rem;
}

.hero {
	background: url(../assets/hero.jpg);
	background-size: cover;
	background-position: right;
	height: 90vh;
	color: white;
	padding: 10%;
	position: relative;
}

h1 {
	font-size: 5rem;
	font-weight: 100;
}

.percent {
	font-size: 2rem;
}

.hero .coupon {
	background: black;
	width: 18rem;
	padding: 2rem;
	line-height: 2rem;
	position: absolute;
	bottom: 0;
}

.hero .coupon > span {
	border-left: 3px solid white;
	padding-left: 2rem;
	position: relative;
	left: -2rem;
	height: 3rem;
	display: inline-block;
	line-height: 3rem;
}

.black-link {
	background: black;
	color: white;
	padding: 1rem;
}

.black-link::before {
	content: "—";
	padding-right: 0.5rem;
}
.hero > * {
	margin-bottom: 2rem;
}

.carousel-controls {
	position: absolute;
	right: 5%;
	bottom: 5%;
}

.carousel-controls button {
	border-radius: 100%;
	border: 0;
	cursor: pointer;
	padding: 0.5rem;
}

.services {
	margin: 5%;
	overflow: auto;
	text-align: center;
}

.services section {
	width: 30%;
	float: left;
	margin: 0 1.5%;
}

@media (max-width: 600px) {
	.services section {
		width: auto;
		float: none;
	}
}

.momentum {
	margin: 5%;
	overflow: hidden;
}
.momentum img {
	float: right;
	width: 50%;
	margin: 5%;
}

.momentum div {
	margin-top: 7.5vw;
}

@media (max-width: 800px) {
	.momentum  {
		text-align: center;
	}
	.momentum img {
		float: none;
		width: 50%;
		margin: auto;
		display: block;
	}
	.momentum div {
		margin-top: 0;
		margin-bottom: 5%;
	}
}

.momentum p {
	padding-bottom: 1rem;
}

.staff {
	text-align: center;
	margin: 5%;
	overflow: hidden;
}

.staff section {
	width: 30%;
	float: left;
	margin: 0 1.5%;
}

.staff img {
	width: 100%;
}

@media (max-width: 800px) {
	.staff section {
		width: max-content;
		float: none;
		margin: auto;
		height: 75vh;
	}
	.staff img {
		width: auto;
		height: 80%;
	}
}

.staff div {
	color: white;
	background: black;
	padding: 1rem 0;
	position: relative;
	top: -0.25rem;
}

.staff h4 {
	margin-top: 0;
}

.staff span {
	font-size: smaller;
}

.offer {
	margin: 5%;
	overflow: hidden;
	line-height: 2rem;
	font-size: 3vmin;
}

.offer img {
	float: right;
	height: 50vw;
}

.offer div {
	margin-top: 12.5vmin;
}

.offer div > span {
	font-size: smaller;
	line-height: 1rem;
}