:root {
	--dark-blue: hsl(223, 28%, 10%);
	--light-blue: hsl(223, 28%, 20%);
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
}

a {
	color: inherit;
	text-decoration: none;
}

a:is(:active, :focus, :hover){
	text-decoration: underline;
}

p {
	color: gray;
}


a[class^="btn"] {
	padding: 1.5rem 3rem;
	font-weight: bold;
}
.btn-white {
	background: white;
	color: var(--dark-blue);
}
.btn-glass {
	background: rgba(255, 255, 255, 0.25);
	color: white;
}


figure {
	padding: 2rem;
	text-align: center;
	color: black;
	background: #ddd;
	margin: 0;
	min-width: max-content;
}
figure.dark {
	color: white;
	background: var(--dark-blue);
}
figure.dark img {
	filter: invert(1);
}
.placeholder-wrapper {
	padding: 7.5rem;
	background: #ddd;
	min-width: max-content;
}


header {
	color: white;
	height: 60vh;
	position: relative;
}
@media (max-width: 800px) {
	header {
		height: 100%;
	}
}

header .bg {
	position: absolute;
	z-index: -1;
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	background: radial-gradient(circle at 75% 75%, var(--light-blue), var(--dark-blue));
	width: 100%;
	height: 100%;
}
@media (max-width: 800px) {
	header .bg {
		clip-path: none;
	}
}

header nav {
	padding: 3rem 5rem;
	text-align: end;
}

header nav > a {
	position: absolute;
	top: 3rem;
	left: 5rem;
	border: 2px solid white;
	border-radius: 100%;
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
}

header li {
	margin-left: 2.5vw;
	color: hsl(0, 0%, 75%);
}

header li a.active {
	color: white;
}


@media (max-width: 800px) {
	header li:nth-of-type(even) {
		display: none;
	}
}

@media (max-width: 400px) {
	header li:nth-of-type(odd) {
		display: none;
	}
}

header section {
	height: 100%;
}

header section .placeholder-wrapper {
	float: right;
	margin-right: 10%;
	border: 2rem solid white;
	border-top-width: 1rem;
	border-bottom-width: 1rem;
	border-radius: 1rem;
	box-shadow: 0 .1rem 5rem black;
	width: 33.33%;
}
header section > div:last-of-type {
	width: 50%;
}
@media (max-width: 800px) {
	header section .placeholder-wrapper {
		float: none;
		margin: auto;
		width: 75%;
	}
	header section > div:last-of-type {
		width: 95%;
	}
}

header section > div:last-of-type > * {
	padding-bottom: 2rem;
	margin-left: 10%;
}

header section >div:last-of-type div a {
	margin-right: 1rem;
}
header section >div:last-of-type div a:last-of-type::before {
	content: "> ";
	color: gray;
}

.as-seen-on {
	width: max-content;
	margin-left: auto;
}

.as-seen-on li {
	display: inline-block;
}
.as-seen-on li::after {
	content: "";
	padding-right: 2vw;
}

@media (max-width: 800px) {
	.as-seen-on li::after {
		padding-right: 0;
	}
}
@media (max-width: 700px) {
	.as-seen-on {
		width: auto;
		margin-left: 0;
		text-align: center;
	}
}

.as-seen-on img {
	height: 3rem;
}