html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 'Fjalla One', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
}

a:is(:focus, :active, :hover) {
	text-decoration: underline;
}

p {
	font-size: 2rem;
}

img[src="assets/logo.png"] {
	width: 50px;
}

header, .hero {
	background: #66768a;
	color: white;
}

header nav {
	overflow: hidden;
	height: 5rem;
}

header nav > * {
	padding: 2rem;
}

header nav li {
	margin-left: 1rem;
}

header nav > a:first-of-type {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 1rem;
}

header nav > a:last-of-type {
	position: absolute;
	top: 0;
	right: 0;
}

main > section {
	overflow: hidden;
	text-align: center;
	min-height: 75vh;
}

.hero h1 {
	padding-top: 10%;
	font-size: 5rem;
}

.hero > h1, .hero > p {
	width: 80%;
	margin: 2rem auto;
}

.hero button {
	all: unset;
	cursor: pointer;
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.75);
}

.hero button::before {
	content: "";
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background: url(../assets/play-icon.png);
	background-size: contain;
	padding-right: 0.5rem;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.why h2 {
	padding-top: 10%;
	font-size: 4rem;
}

.why p {
	width: 50%;
	margin: auto;
}

@media (max-width: 600px) {
	.why p {
		width: 80%;
	}
}

.content {
	background: #dbdfe2;
}

.content section {
	width: 40%;
	float: left;
	margin: 5%;
}

.content section:last-of-type {
	float: right;
}

@media (max-width: 600px) {
	.content section {
		width: 80%;
		float: none;
		margin: 5% auto;
	}
	.content section:last-of-type {
		float: none;
	}
}

.content div {
	width: 33.33vw;
	height: 25vmin;
	background: #66768a;
	margin: auto;
}

main section > a {
	background: inherit;
	border: 1px solid grey;
	padding: 1rem 3rem;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 0;
	transition: filter 1s;
}

footer {
	background: #161f2a;
	color: white;
}

.volunteer h2 {
	padding-top: 10%;
}

.volunteer p {
	width: 50%;
	margin: auto;
	margin-bottom: 3rem;
}

@media (max-width: 600px) {
	.volunteer p {
		width: 80%;
	}
}

footer {
	overflow: auto;
	padding-bottom: 2.5rem;
}

footer div {
	overflow: hidden;
	margin: 2.5%;
	padding-top: 2.5%;
	padding-bottom: 1rem;
	border-bottom: 1px solid white;
}

footer div nav {
	float: left;
}

footer div address {
	float: right;
	font-style: normal;
}

footer li {
	margin-right: 1rem;
}

footer img {
	width: 2rem;
}

footer span {
	color: gray;
}

footer div section {
	margin-top: 1rem;
}

footer > section {
	position: relative;
}

footer > section span {
	color: white;
	margin-left: 2.5%;
	width: 80%;
	display: inline-block;
}

footer > section a {
	position: absolute;
	right: 2.5%;
	top: -2vw;
}
