html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

a:is(:focus, :active, :hover) {
	text-decoration: underline;
}

header {
	overflow: auto;
}

button {
	background: #304659;
	border: 0;
	padding: 0.5rem 1rem;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

nav {
	overflow: auto;
}

nav > * {
	margin: 1rem;
}

nav > a:first-of-type {
	display: none;
}

nav > ul, nav > button {
	display: block;
}

nav > a {
	float: left;
	font-size: 2rem;
	font-weight: bold;
}

@media (max-width: 600px) {
	nav > a:first-of-type {
		display: block;
	}

	nav > ul, nav > button {
		display: none;
	}

	nav {
		border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	}

	nav a:nth-of-type(2) {
		float: none;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

nav ul {
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

nav ul li {
	display: inline-block;
	margin: 0 0.5rem;
}

nav button {
	float: right;
}