html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

a:is(:focus, :active, :hover) {
	text-decoration: underline;
}

header {
	overflow: auto;
}

button {
	background: #304659;
	border: 0;
	padding: 0.5rem 1rem;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

nav {
	overflow: auto;
}

nav > * {
	margin: 1rem;
}

nav > a:first-of-type {
	display: none;
}

nav > ul, nav > button {
	display: block;
}

nav > a {
	float: left;
	font-size: 2rem;
	font-weight: bold;
}

@media (max-width: 600px) {
	nav > a:first-of-type {
		display: block;
	}

	nav > ul, nav > button {
		display: none;
	}

	nav {
		border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	}

	nav a:nth-of-type(2) {
		float: none;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

nav ul {
	padding: 0;
	list-style: none;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

nav ul li {
	display: inline-block;
	margin: 0 0.75rem;
}

nav button {
	float: right;
}

.hero {
	overflow: auto;
}

.hero span {
	color: grey;
	font-size: smaller;
	text-transform: uppercase;
	font-weight: bold;
}

.hero div {
	margin: 5%;
	width: 40%;
	float: left;
}

.hero img {
	width: 50vw;
}

@media (max-width: 600px) {
	.hero div {
		width: auto;
		float: none;
	}

	.hero img {
		width: 100vw;
	}
}

form {
	background: #e1e9f0;
	width: max-content;
}

input {
	background: #e1e9f0;
	border: 0;
	padding: 0.5rem 1rem;
}

@media (max-width: 600px) {
	form {
		background: inherit;
		width: 100%;
	}
	input {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
	}
	form button {
		width: 100%;
	}
}

.features {
	margin: 5%;
	overflow: hidden;
}

.features section {
	display: inline-block;
	width: 20%;
	margin: 0 2%;
}

.features img {
	width: 2.5rem;
}

.features a {
	font-weight: bold;
}

.features a::after {
	content: "❯";
	padding-left: 0.5rem;
	font-size: smaller;
	vertical-align: top;
}

@media (max-width: 600px) {
	.features section {
		width: 66.66%;
		margin: 2%;
	}
	.features section:nth-of-type(even) {
		text-align: right;
		float: right;
	}
}
