*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: 'Source Serif Pro', serif;
}

/* #region Alert */

.alert {
	position: relative;
	background: hsl(219, 89%, 52%);
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0.5rem 1.5rem;
	font-size: 16px;
}

.alert input {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0.75rem;
	padding: 0.25rem;
}

.alert input:is(:hover, :focus) {
	border: 2px solid white;
	right: calc(0.75rem - 2px);
}

.alert a {
	color: white;
}

.alert a:is(:hover, :focus) {
	border-bottom: solid 2px white;
	border-radius: 0 0 1px 1px;
}

/* #endregion */

/* #region "Skip To Content" link */

a[href="#main-content"] {
	z-index: 1;
	position: absolute;
	top: -5rem;
	left: -5rem;
	transition: opacity 1s;
	background: white;
	padding: 1rem;
	border: 1px solid black;
	transition: top 1s, left 1s;
}

a[href="#main-content"]:focus {
	top: 1rem;
	left: 1rem;
}

/* #endregion */

/* #region Nav */

header nav {
	padding: 0.5rem 1rem 1rem 1rem;
	max-width: 1200px;
	margin: auto;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: hsl(219, 89%, 52%);
	border-bottom: 1px solid rgb(214, 216, 218);
}

header nav > div:first-of-type {
	float: left;
}

header nav > div:first-of-type > * {
	float: left;
	height: 2rem;
	margin-right: 2.5rem;
}

header nav > a {
	display: inline-block;
}

header nav > a:hover {
	fill: hsl(219, 89%, 52%);
}

header nav > a:is(:active, :focus) {
	outline: 4px solid hsl(219, 89%, 52%);
}

header nav > div:last-of-type {
	float: right;
}

header nav > div:last-of-type > div > * {
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	text-decoration: none;
	margin-right: 1rem;
	color: hsl(219, 89%, 52%);
}

header nav > div:last-of-type > div > *:is(:active, :focus) {
  border-bottom: 2px solid rgb(24, 101, 242);
}

/* #region Search Form */

form {
	padding: 0.25rem;
	border-radius: 0.1rem;
	background: rgb(240, 241, 242);
}

form:hover {
	background: rgb(227, 229, 230);
}

form input::placeholder {
	color: hsl(219, 89%, 52%);
	opacity: 1;
}

form input {
	border: 0;
	background: none;
}

form input[type="image"] {
	position: relative;
	top: 5px;
}

/* #endregion Search Form */

/* #region Courses Dropdown */

details {
	text-align: left;
	position: relative;
}

summary {
	user-select: none;
  cursor: pointer;
	line-height: 2rem;
}

summary::marker{
	content: "";
}

details[open] > summary::after {
	content: " ▲";
}

summary:is(:active, :focus) {
  border-bottom: 2px solid rgb(24, 101, 242);
}

summary::after {
	content: " ▼";
	right: 1rem;
	font-size: 0.5rem;
	vertical-align: middle;
}

summary > * {
  display: inline;
}

details > section {
	position: absolute;
	background: white;
	width: 1200px;
	top: 3rem;
	padding-bottom: 2.5rem;
	left: -1rem;
	border-bottom: 1px solid rgb(68, 68, 68);
}

details ul {
	padding: 0;
	width: 20%;
	float: left;
}

details ul:nth-of-type(6) {
	margin-top: -10rem;
}

details ul:nth-of-type(7) {
	float: right;
	margin-top: -1rem;
}

details ul:nth-of-type(8) {
	margin-top: -1rem;
}

details ul:nth-of-type(9) {
	margin-top: -16rem;
}

details ul:nth-of-type(10) {
	margin-top: -10rem;
}

details ul:nth-of-type(1), details ul:nth-of-type(9) {
	padding-left: 1vw;
}

@media (max-width: 1200px) {
	details > section {
		width: 100vw;
	}
	details ul {
		width: 25%;
	}
	details ul:nth-of-type(n) {
		padding-left: 0;
	}
	details ul:nth-of-type(1), details ul:nth-of-type(8), details ul:nth-of-type(10) {
		padding-left: 1vw;
	}
	details ul:nth-of-type(5) {
		margin-top: -1rem;
	}
	details ul:nth-of-type(6) {
		float: right;
		margin-top: -1rem;
	}
	details ul:nth-of-type(7) {
		margin-top: -2rem;
	}
	details ul:nth-of-type(8) {
		margin-top: -12rem;
	}
	details ul:nth-of-type(9) {
		margin-top: -6rem;
	}
	details ul:nth-of-type(10) {
		margin-top: -19rem;
	}
}

@media (max-width: 800px) {
	details ul {
		width: 33.33%;
	}
	details ul:nth-of-type(n) {
		padding-left: 0;
	}
	details ul:nth-of-type(1), details ul:nth-of-type(4), details ul:nth-of-type(8), details ul:nth-of-type(10) {
		padding-left: 1vw;
	}
	details ul:nth-of-type(4) {
		margin-top: -10rem;
	}
	details ul:nth-of-type(5) {
		margin-top: -5rem;
	}
	details ul:nth-of-type(8) {
		margin-top: -15rem;
	}
	details ul:nth-of-type(9) {
		float: right;
		margin-top: -1rem;
	}
	details ul:nth-of-type(10) {
		margin-top: -2rem;
	}
}
@media (max-width: 600px) {
	details ul {
		width: 50%;
	}
	details ul:nth-of-type(n) {
		margin-top: 0;
		padding-left: 0;
	}
	details ul:nth-of-type(1), details ul:nth-of-type(3), details ul:nth-of-type(7), details ul:nth-of-type(9) {
		padding-left: 1vw;
	}
	details ul:nth-of-type(odd) {
		float: left;
	}
	details ul:nth-of-type(even) {
		float: right;
	}
	details ul:nth-of-type(7) {
		margin-top: -9rem;
	}
}

@media (max-width: 400px) {
	details ul {
		width: 100%;
	}
	details ul:nth-of-type(n) {
		padding-left: 1vw;
		margin: 0;
	}
}

details ul > li {
	padding: .5rem 0;
	display: block;
}

details ul > li > h2 > a {
	text-transform: uppercase;
	color: rgb(10, 42, 102);
	text-decoration: none;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

details ul > li > h2 > a:is(:hover, :focus) {
	color: hsl(219, 89%, 52%);
	text-decoration: underline ;
}

details ul > li a {
	font-size: 16px;
	color: hsl(219, 89%, 52%);
	text-decoration: none;
}

details ul li a:is(:hover, :focus) {
	color: hsl(219, 89%, 52%);
	text-decoration: underline ;
}

/* #endregion Courses Dropdown */

/* #endregion Nav */

main > section {
	overflow: auto;
	margin: auto;
	margin-top: 5rem;
}

/* #region Hero */

main > section:nth-of-type(1) {
	max-width: 1200px;
	overflow: auto;
	margin: auto;
	margin-top: 5rem;
}

main > section:nth-of-type(1) > svg {
	float: left;
	width: 55%;
	padding-left: 7.5%;
	padding-right: 2.5%;
}

main > section:nth-of-type(1) > div {
	float: left;
	width: 45%;
}

main > section:nth-of-type(1) > div > * {
	margin-top: 2.5rem;
}

main > section:nth-of-type(1) > div > h1 {
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 53px;
}

p {
	font-family: 'Lato', sans-serif;
	line-height: 2rem;
}

main nav ul {
	list-style: none;
	padding: 0;
}

main nav ul li {
	display: inline-block;
}

main nav ul li a {
	color: white;
	background-color: rgb(24, 101, 242);
	padding: 0.5rem;
	border-radius: 0.25rem;
	text-decoration: none;
	font-size: 14px;
	margin-right: 0.1rem;
}

main nav ul li a:is(:hover, :focus, :active) {
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1865f2 !important
}


@keyframes realResultsSwoosh {
	to {
		stroke-dashoffset:0;
	}
}

main section:nth-of-type(1) div h1 svg path {
	animation: realResultsSwoosh ease-in-out forwards;
}

main section:nth-of-type(1) div h1 + p {
	margin-top: -2.5rem;
}

main section:nth-of-type(1) div h1 svg {
	position: relative;
	top: -2rem;
	width: 60%;
	left: -0.5rem
}

/* #endregion Hero */

main > section:nth-of-type(2) {
	text-align: center;
	position: relative;
	padding: 2.5rem 0;
}

main section:nth-of-type(2) svg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
}

main section:nth-of-type(2) h2 {
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 44px;
}

main section:nth-of-type(2) section {
	float: left;
	width: 20%;
	text-align: center;
}
main section:nth-of-type(2) section:nth-of-type(1) {
	margin-left: 20vw;
}

@media (max-width: 800px) {
	main section:nth-of-type(2) section {
		float: none;
		width: 50%;
		margin: auto;
		margin-top: 3rem;
	}
	main section:nth-of-type(2) section:nth-of-type(1) {
		margin-left: auto;
	}
}

main section:nth-of-type(2) section img {
	height: 7rem;
}
main section:nth-of-type(2) section p {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
}



main section:nth-of-type(2) h3 {
	font-family: 'Source Serif Pro', serif;
	font-size: 25px;
	font-weight: normal;
}