*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: 'Source Serif Pro', serif;
}

/* #region Alert */

.alert {
	position: relative;
	background: hsl(219, 89%, 52%);
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0.5rem 1.5rem;
	font-size: 16px;
}

.alert input {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0.75rem;
	padding: 0.25rem;
}

.alert input:is(:hover, :focus) {
	border: 2px solid white;
	right: calc(0.75rem - 2px);
}

.alert a {
	color: white;
}

.alert a:is(:hover, :focus) {
	border-bottom: solid 2px white;
	border-radius: 0 0 1px 1px;
}

/* #endregion */

/* #region "Skip To Content" link */

a[href="#main-content"] {
	z-index: 1;
	position: absolute;
	top: -5rem;
	left: -5rem;
	transition: opacity 1s;
	background: white;
	padding: 1rem;
	border: 1px solid black;
	transition: top 1s, left 1s;
}

a[href="#main-content"]:focus {
	top: 1rem;
	left: 1rem;
}

/* #endregion */

/* #region Nav */

header nav {
	height: 3rem;
	padding: 0.5rem 1rem 1rem 1rem;
	max-width: 1200px;
	margin: auto;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: hsl(219, 89%, 52%);
	border-bottom: 1px solid rgb(214, 216, 218);
}

header nav:nth-of-type(2) {
	display: none;
}

header nav > div:first-of-type {
	float: left;
}

header nav > div:first-of-type > * {
	float: left;
	height: 2rem;
	margin-right: 2.5rem;
}

header nav > a {
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
header nav > a:hover {
	fill: hsl(219, 89%, 52%);
}

header nav > a:is(:active, :focus) {
	outline: 4px solid hsl(219, 89%, 52%);
}

header nav > div:last-of-type {
	float: right;
}

header nav > div:last-of-type > div > * {
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	text-decoration: none;
	margin-right: 1rem;
	color: hsl(219, 89%, 52%);
}

header nav > div:last-of-type > div > *:is(:active, :focus) {
  border-bottom: 2px solid rgb(24, 101, 242);
}

/* #region Search Form */

form {
	padding: 0.25rem;
	border-radius: 0.1rem;
	background: rgb(240, 241, 242);
}

form:hover {
	background: rgb(227, 229, 230);
}

form input::placeholder {
	color: hsl(219, 89%, 52%);
	opacity: 1;
}

form input {
	border: 0;
	background: none;
}

form input[type="image"] {
	position: relative;
	top: 5px;
}

/* #endregion Search Form */

/* #region Courses Dropdown */

header details {
	text-align: left;
	position: relative;
}

@media (max-width: 800px) {
	header nav:nth-of-type(1) {
		display: none;
	}
	header nav:nth-of-type(2) {
		display: block;
	}

	header nav > a {
		left: 1rem;
		transform: none;
	}

	header nav > div > a > img {
		position: relative;
		top: 5px;
	}
	header nav > div:first-of-type > * {
		margin-right: 0;
		margin-left: 1rem;
	}

	header details {
		position: static;
	}
	header details details {
		position: relative;
	}
	header details details > section {
		left: 0;
	}
	header nav:nth-of-type(2) details > ul {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		background: white;
		z-index: 1;
	}
}

header summary {
	user-select: none;
  cursor: pointer;
	line-height: 2rem;
}

header summary::marker{
	content: "";
}

header details[open] > summary::after {
	content: " ▲";
}

header summary:is(:active, :focus) {
  border-bottom: 2px solid rgb(24, 101, 242);
}

header summary::after {
	content: " ▼";
	right: 1rem;
	font-size: 0.5rem;
	vertical-align: middle;
}

header summary > * {
  display: inline;
}

header details > section {
	z-index: 2;
	position: absolute;
	background: white;
	width: 1200px;
	top: 3rem;
	padding-bottom: 2.5rem;
	left: -1rem;
	border-bottom: 1px solid rgb(68, 68, 68);
}

header details ul {
	padding: 0;
	width: 20%;
	float: left;
}

header details ul:nth-of-type(6) {
	margin-top: -10rem;
}

header details ul:nth-of-type(7) {
	float: right;
	margin-top: -1rem;
}

header details ul:nth-of-type(8) {
	margin-top: -1rem;
}

header details ul:nth-of-type(9) {
	margin-top: -16rem;
}

header details ul:nth-of-type(10) {
	margin-top: -10rem;
}

header details ul:nth-of-type(1), details ul:nth-of-type(9) {
	padding-left: 1vw;
}

@media (max-width: 1200px) {
	header details > section {
		width: 100vw;
	}
	header details ul {
		width: 25%;
	}
	header details ul:nth-of-type(n) {
		padding-left: 0;
	}
	header details ul:nth-of-type(1), header details ul:nth-of-type(8), header details ul:nth-of-type(10) {
		padding-left: 1vw;
	}
	header details ul:nth-of-type(5) {
		margin-top: -1rem;
	}
	header details ul:nth-of-type(6) {
		float: right;
		margin-top: -1rem;
	}
	header details ul:nth-of-type(7) {
		margin-top: -2rem;
	}
	header details ul:nth-of-type(8) {
		margin-top: -12rem;
	}
	header details ul:nth-of-type(9) {
		margin-top: -6rem;
	}
	header details ul:nth-of-type(10) {
		margin-top: -19rem;
	}
}

@media (max-width: 800px) {
	header details ul {
		width: 33.33%;
	}
	header details ul:nth-of-type(n) {
		padding-left: 0;
	}
	header details ul:nth-of-type(1), header details ul:nth-of-type(4), header details ul:nth-of-type(8), header details ul:nth-of-type(10) {
		padding-left: 1vw;
	}
	header details ul:nth-of-type(4) {
		margin-top: -10rem;
	}
	header details ul:nth-of-type(5) {
		margin-top: -5rem;
	}
	header details ul:nth-of-type(8) {
		margin-top: -15rem;
	}
	header details ul:nth-of-type(9) {
		float: right;
		margin-top: -1rem;
	}
	header details ul:nth-of-type(10) {
		margin-top: -2rem;
	}
}
@media (max-width: 600px) {
	header details ul {
		width: 50%;
	}
	header details ul:nth-of-type(n) {
		margin-top: 0;
		padding-left: 0;
	}
	header details ul:nth-of-type(1), header details ul:nth-of-type(3), header details ul:nth-of-type(7), header details ul:nth-of-type(9) {
		padding-left: 1vw;
	}
	header details ul:nth-of-type(odd) {
		float: left;
	}
	header details ul:nth-of-type(even) {
		float: right;
	}
	header details ul:nth-of-type(7) {
		margin-top: -9rem;
	}
}

@media (max-width: 400px) {
	header details ul {
		width: 100%;
	}
	header details ul:nth-of-type(n) {
		padding-left: 1vw;
		margin: 0;
	}
}

header details ul > li {
	padding: .5rem 0;
	display: block;
}

header details ul > li > h2 > a {
	text-transform: uppercase;
	color: rgb(10, 42, 102);
	text-decoration: none;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

header details ul > li > h2 > a:is(:hover, :focus) {
	color: hsl(219, 89%, 52%);
	text-decoration: underline ;
}

header details ul > li a {
	font-size: 16px;
	color: hsl(219, 89%, 52%);
	text-decoration: none;
}

header details ul li a:is(:hover, :focus) {
	color: hsl(219, 89%, 52%);
	text-decoration: underline ;
}

/* #endregion Courses Dropdown */

/* #endregion Nav */

main > section {
	overflow: auto;
	margin: auto;
	margin-top: 5rem;
}

/* #region Hero */

main > section:nth-of-type(1) {
	max-width: 1200px;
	overflow: auto;
	margin: auto;
	position: relative;
}

main > section:nth-of-type(1) > svg {
	float: left;
	width: 55%;
	padding-left: 7.5%;
	padding-right: 2.5%;
}

main > section:nth-of-type(1) > svg:nth-of-type(2) {
	display: none;
	position: absolute;
	right: 0;
	top: -5%;
	z-index: -1;
	height: 100%;
	padding: 0;
}

main > section:nth-of-type(1) > div {
	float: left;
	width: 100%;
}
main > section:nth-of-type(1) > div > svg{
	display: none;
	position: absolute;
	width: 75vw;
	top: -15%;
	left: -15%;
}

main > section:nth-of-type(1) > div > * {
	margin-top: 2.5rem;
}

main > section:nth-of-type(1) > div > h1 {
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 53px;
}


@media (max-width: 600px) {
	main > section:nth-of-type(1) > svg {
		display: none;
	}
	main > section:nth-of-type(1) > svg:nth-of-type(2) {
		display: block;
	}

	main > section:nth-of-type(1) > div {
		float: none;
		width: 75%;
		margin-top: 33vh;
	}
	main > section:nth-of-type(1) > div > svg{
		display: block;
	}

	main > section:nth-of-type(1) > div > h1 {
		position: relative;
		font-size: 30px;
	}
	main > section:nth-of-type(1) > div nav {
		width: 100vw;
	}
}

p {
	font-family: 'Lato', sans-serif;
	line-height: 2rem;
}

main section:nth-of-type(1) nav ul {
	list-style: none;
	padding: 0;
}

main section:nth-of-type(1) nav ul li {
	display: inline-block;
}

main section:nth-of-type(1) nav ul li a {
	color: white;
	background-color: rgb(24, 101, 242);
	padding: 0.5rem;
	border-radius: 0.25rem;
	text-decoration: none;
	font-size: 14px;
	margin-right: 0.1rem;
}

main section:nth-of-type(1) nav ul li a:is(:hover, :focus, :active) {
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1865f2 !important
}


@keyframes realResultsSwoosh {
	to {
		stroke-dashoffset:0;
	}
}

main section:nth-of-type(1) div h1 svg path {
	animation: realResultsSwoosh ease-in-out forwards;
}

main section:nth-of-type(1) div h1 + p {
	margin-top: -2.5rem;
}

main section:nth-of-type(1) div h1 svg {
	position: relative;
	top: -2rem;
	width: 15rem;
	left: -0.5rem
}

@media (max-width: 600px) {
	main section:nth-of-type(1) div h1 svg {
		position: relative;
		top: -1rem;
		width: 9rem;
		left: -0.5rem
	}
}

/* #endregion Hero */

main > section:nth-of-type(2) {
	text-align: center;
	position: relative;
	padding: 2.5rem 0;
}

main section:nth-of-type(2) svg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
}

main section:nth-of-type(2) h2 {
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 44px;
}

main section:nth-of-type(2) section {
	float: left;
	width: 20%;
	text-align: center;
}
main section:nth-of-type(2) section:nth-of-type(1) {
	margin-left: 20vw;
}

@media (max-width: 800px) {
	main section:nth-of-type(2) section {
		float: none;
		width: 50%;
		margin: auto;
		margin-top: 3rem;
	}
	main section:nth-of-type(2) section:nth-of-type(1) {
		margin-left: auto;
	}
}

main section:nth-of-type(2) section img {
	height: 7rem;
}
main section:nth-of-type(2) section p {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
}



main section:nth-of-type(2) h3 {
	font-family: 'Source Serif Pro', serif;
	font-size: 25px;
	font-weight: normal;
}


main > section:nth-of-type(3) {
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	margin-top: 5rem;
	position: relative;
}

main > section:nth-of-type(3) > svg {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 55%;
}

main > section:nth-of-type(3) > div {
	margin-left: 5%;
	margin-bottom: 5%;
}

@media (max-width: 800px) {
	main > section:nth-of-type(3) > svg {
		float: none;
		width: auto;
		transform: none;
		position: relative;
	}
	main > section:nth-of-type(3) > div {
		float: none;
		width: auto;
	}
}

main > section:nth-of-type(3) > div > * {
	margin-top: 2.5rem;
}

main > section:nth-of-type(3) > div > span {
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(33, 36, 44, 0.64);
}
main > section:nth-of-type(3) > div > h2 {
	position: relative;
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 44px;
}
main > section:nth-of-type(3) > div > h2 div {
	position: relative;
}
main > section:nth-of-type(3) > div > h2 svg {
	width: 20rem;
	position: absolute;
	top: -1.5rem;
	left: -1.75rem;
	z-index: -1;
}


main > section:nth-of-type(3) p {
	width: 24rem;
	margin-top: -1rem;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

@keyframes keyframe_zfv6xh {
	to {
		stroke-dashoffset:0;
	}
}
._t1oee9 {
	animation: keyframe_zfv6xh ease-in-out forwards;
}


main section:nth-of-type(3) a {
	font-weight: bold;
	text-decoration: none;
	color: #1865F2;
}
main section:nth-of-type(3) a:is(:hover, :active, :focus) {
	text-decoration: underline;
}

main section:nth-of-type(3) p + a {
	font-family: 'Lato', sans-serif;
	color: white;
	background-color: rgb(24, 101, 242);
	padding: 0.75rem;
	border-radius: 0.25rem;
	text-decoration: none;
	font-size: 14px;
	margin-right: 0.1rem;
}

main section:nth-of-type(3) p + a:is(:hover, :focus, :active) {
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1865f2 !important
}



@media (max-width: 800px) {
	main > section:nth-of-type(3) p {
		max-width: 90vw;
	}
}

main > section:nth-of-type(4) {
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	margin-top: 5rem;
}

main > section:nth-of-type(4) > svg {
	float: left;
	width: 50%;
}

main > section:nth-of-type(4) > div {
	float: left;
	width: 45%;
	margin-left: 1rem;
	padding-bottom: 5%;
	overflow: hidden;
}

@media (max-width: 800px) {
	main > section:nth-of-type(4) > svg {
		float: none;
		width: auto;
	}
	main > section:nth-of-type(4) > div {
		float: none;
		width: auto;
	}
}

main > section:nth-of-type(4) > div > span:nth-of-type(1) {
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(33, 36, 44, 0.64);
}
main > section:nth-of-type(4) > div > span:not(:nth-of-type(1)) {
	color: rgba(33, 36, 44, 0.64);
	font-size: 11px;
	display: block;
	margin-top: -.5rem;
	margin-bottom: 1rem;
}

main > section:nth-of-type(4) > div > h2 {
	position: relative;
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 44px;
}
main > section:nth-of-type(4) > div > h2 div {
	position: relative;
	display: inline-block;
}
main > section:nth-of-type(4) > div > h2 svg {
	width: 13rem;
	position: absolute;
	z-index: -1;
	top: -.5rem;
}


main > section:nth-of-type(4) p {
	max-width: 90vw;
	margin-top: 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1rem;
}


@keyframes keyframe_896wii {
	from {
		-webkit-transform:scaleX(0);
		-ms-transform:scaleX(0);
		transform:scaleX(0);
	}
	to {
		-webkit-transform:scaleX(1);
		-ms-transform:scaleX(1);
		transform:scaleX(1);
	}
}
._1af60aj {
	-webkit-animation-name:keyframe_896wii !important;
	animation-name:keyframe_896wii !important;
	-webkit-animation-timing-function:learner !important;
	animation-timing-function:learner !important;
	-webkit-animation-fill-mode:forwards !important;
	animation-fill-mode:forwards !important;
}

main section:nth-of-type(4) span + a {
	font-family: 'Lato', sans-serif;
	color: white;
	background-color: rgb(24, 101, 242);
	padding: 0.75rem;
	border-radius: 0.25rem;
	text-decoration: none;
	font-size: 14px;
	margin-right: 0.1rem;
}

main section:nth-of-type(4) span + a:is(:hover, :focus, :active) {
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1865f2 !important
}

main > section:nth-of-type(5) {
	position: relative;
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	margin-top: 5rem;
}

main > section:nth-of-type(5) > object {
	float: right;
	width: 65%;
	position: absolute;
	right: 0;
	top: 65%;
	transform: translateY(-50%);
}

main > section:nth-of-type(5) > div {
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

@media (max-width: 800px) {
	main > section:nth-of-type(5) > object {
		position: relative;
		float: none;
		width: auto;
		transform: none;
	}
	main > section:nth-of-type(5) > div {
		float: none;
		width: auto;
	}
}


main > section:nth-of-type(5) > div > * {
	margin-top: 2.5rem;
}

main > section:nth-of-type(5) > div > span {
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(33, 36, 44, 0.64);
}
main > section:nth-of-type(5) > div > h2 {
	position: relative;
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 44px;
}
main > section:nth-of-type(5) > div > h2 div {
	position: relative;
}
main > section:nth-of-type(5) > div > h2 svg {
	width: 4rem;
	position: absolute;
	top: 1.75rem;
	z-index: -1;
	left: 0;
}


main > section:nth-of-type(5) p {
	width: 24rem;
	margin-top: -1rem;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin-bottom: 3rem;
}


main section:nth-of-type(5) a {
	font-weight: bold;
	text-decoration: none;
	color: #1865F2;
}
main section:nth-of-type(5) a:is(:hover, :active, :focus) {
	text-decoration: underline;
}

main section:nth-of-type(5) p + a {
	font-family: 'Lato', sans-serif;
	color: white;
	background-color: rgb(24, 101, 242);
	padding: 1rem;
	border-radius: 0.25rem;
	text-decoration: none;
	font-size: 14px;
	margin-right: 0.1rem;
}

main section:nth-of-type(5) p + a:is(:hover, :focus, :active) {
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1865f2 !important
}

main > section:nth-of-type(6) {
	position: relative;
	padding: 2.5rem 0;
	overflow: hidden;
}

main section:nth-of-type(6) svg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
}

main section:nth-of-type(6) > div {
	margin: auto;
	margin-top: 5rem;
	width: 70%;
	font-family: 'Source Serif Pro', serif;
	font-size: 32px;
	line-height: 43px;
}


main section:nth-of-type(6) > div > div {
	float: right;
	width: 8rem;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1rem;
	position: relative;
	margin-top: 1rem;
}

main section:nth-of-type(6) > div > div > * {
	display: inline-block;
	height: 7rem;
	width: 7rem;
}

main section:nth-of-type(6) > div > div > span {
	text-align: right;
	width: 7.5rem;
	position: absolute;
	left: -9rem;
	top: 3rem;
}
main section:nth-of-type(6) > div > div > span > span {
	font-size: smaller;
	font-style: italic;
}

main > section:nth-of-type(7) {
	max-width: 1200px;
	overflow: auto;
	margin: auto;
	margin-top: 5rem;
}

main > section:nth-of-type(7) > object {
	float: left;
	width: 55%;
}

main > section:nth-of-type(7) > div {
	float: left;
	width: 40%;
	margin-left: 1rem;
	height: 28rem;
	overflow: hidden;
}

@media (max-width: 800px) {
	main > section:nth-of-type(7) > object {
		float: none;
		width: auto;
	}
	main > section:nth-of-type(7) > div {
		float: none;
		width: auto;
	}
	main > section:nth-of-type(5) p {
		max-width: 90vw;
	}
}

main > section:nth-of-type(7) > div > span:nth-of-type(1) {
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(33, 36, 44, 0.64);
}
main > section:nth-of-type(7) > div > span:not(:nth-of-type(1)) {
	color: rgba(33, 36, 44, 0.64);
	font-size: 11px;
	display: block;
	margin-top: -.5rem;
	margin-bottom: 1rem;
}

main > section:nth-of-type(7) > div > h2 {
	position: relative;
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 44px;
}
main > section:nth-of-type(7) > div > h2 div {
	position: relative;
	display: inline-block;
}
main > section:nth-of-type(7) > div > h2 svg {
	width: 13rem;
	position: absolute;
	z-index: -1;
	top: -.5rem;
}


main > section:nth-of-type(7) p {
	margin-top: 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1rem;
	margin-bottom: 3rem;
}


main section:nth-of-type(7) p + a {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: white;
	background-color: rgb(24, 101, 242);
	padding: 1rem;
	border-radius: 0.25rem;
	text-decoration: none;
	font-size: 14px;
	margin-right: 0.1rem;
}

main section:nth-of-type(7) p + a:is(:hover, :focus, :active) {
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1865f2 !important
}

main > nav {
	margin: auto;
	overflow: hidden;
	height: 800px;
	text-align: center;
	margin-top: 5rem;
}
main > nav li {
	display: block;
}

main > nav > div {
	position: relative;
}

main > nav h2 {
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 44px;
}


main > nav > div > svg {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
main > nav ul {
	padding: 0;
	margin: auto;
	width: max-content;
}
main > nav ul li {
	margin: 0.5rem;
}
main > nav ul li a {
	color: white;
	background-color: rgb(24, 101, 242);
	border-radius: 0.25rem;
	text-decoration: none;
	font-size: 18px;
	margin-right: 0.1rem;
	padding: 1rem 2rem;
	margin: 0;
	width: 30vmax;
	display: block;
	text-align: center;
	font-weight: bold;
}

main > nav ul li a:is(:hover, :focus, :active) {
	box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #1865f2 !important
}

main > section:nth-of-type(8) {
	position: relative;
	padding: 2.5rem 0;
}

main section:nth-of-type(8) svg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
}

main section:nth-of-type(8) {
	text-align: center;
}
main section:nth-of-type(8) ul {
	list-style: none;
	padding: 0;
	overflow: hidden;
	width: 75%;
	margin: auto;
	height: 6rem;
}
main section:nth-of-type(8) ul li {
	float: left;
	width: 25%;
	vertical-align: bottom;
	height: 2.5rem;
}
main section:nth-of-type(8) ul:nth-of-type(1) li {
	float: left;
	width: 25%;
	vertical-align: bottom;
	height: 2.5rem;
}
main section:nth-of-type(8) ul:nth-of-type(2) {
	width: 90%;
}
main section:nth-of-type(8) ul:nth-of-type(2) li {
	width: 20%;
}
main section:nth-of-type(8) ul:nth-of-type(2) li:last-of-type {
	float: right;
}
main section:nth-of-type(8) ul li img {
	width: 10rem;
	max-height: 2.5rem;
}


@media (max-width: 800px) {
	main section:nth-of-type(8) ul {
		height: auto;
	}

	main section:nth-of-type(8) ul li {
		float: none;
		width: auto;
	}
	main section:nth-of-type(8) ul:nth-of-type(1) li {
		float: none;
		width: auto;
	}
	main section:nth-of-type(8) ul:nth-of-type(2) {
		width: 90%;
	}
	main section:nth-of-type(8) ul:nth-of-type(2) li {
		width: auto;
	}
	main section:nth-of-type(8) ul:nth-of-type(2) li:last-of-type {
		float: none;
	}
	main section:nth-of-type(8) ul li img {
		width: 10rem;
	}

}


footer {
	background: #0a2a66;
	color: #8295BA;
}

footer > div a {
	color: white;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

footer > div ul a {
	font-size: 12px;
}

footer > div a:is(:hover, :focus, :active) {
	text-decoration: underline;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer p {
	float: left;
	width: 27%;
	margin: 1.5rem;
}

footer nav {
	float: right;
	width: 66.66%;
	overflow: auto;
}

footer nav ul {
	width: 33.33%;
	float: left;
}

footer nav ul:nth-of-type(4) {
	margin-top: -8rem;
}


@media (max-width: 800px) {
	footer p  {
		float: none;
		width: 80%;
		margin: 2rem auto;
		text-align: center;
	}
	footer nav {
		float: none;
		width: auto;
	}

	footer nav ul {
		width: 50%;
		float: none;
		padding-left: 1vw;
	}

	footer nav ul:nth-of-type(1) {
		float: left;
	}
	footer nav ul:nth-of-type(2) {
		float: left;
	}
	footer nav ul:nth-of-type(3) {
		float: right;
	}
	footer nav ul:nth-of-type(4) {
		margin-top: 0;
		float: right;
	}
}

footer details {
	display: inline-block;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

footer summary {
  cursor: pointer;
	color: white;
}
footer summary:is(:hover, :focus, :active) {
  text-decoration: underline;
}

footer summary::marker{
	content: "";
}

footer details[open] > summary::after {
	content: " ▲";
}


footer summary::after {
	content: " ▼";
	right: 1rem;
	font-size: 0.5rem;
	vertical-align: middle;
}

footer details ul {
	bottom: 1.5rem;
	text-align: left;
	left: 0;
	position: absolute;
	background: white;
	width: 10rem;
	color: black;
	height: 50vh;
	overflow: scroll;
	padding: 0;
}
footer details ul a {
	color: black;
	text-decoration: none;
	display: block;
	padding: 0.5rem;
}
footer details ul a:is(:hover, :active, :focus) {
	background: #1665f2;
	color: white;
	text-decoration: none;
}

footer > div:nth-of-type(1) {
	overflow: auto;
}

footer > div:nth-of-type(2) {
	text-align: center;
}

footer > div:nth-of-type(2) > div ul {
	font-size: 12px;
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}
footer > div:nth-of-type(2) > div ul li {
	display: inline-block;
	padding-right: .25rem;
}
footer > div:nth-of-type(2) > div a {
	color: white;
	text-decoration: none;
}

footer > div:nth-of-type(2) > div img {
	position: relative;
	top: .2rem;
	height: 1rem;
}

footer > div:nth-of-type(2) > ul:nth-of-type(2) {
	overflow: auto;
}
footer > div:nth-of-type(2) > ul:nth-of-type(2) li {
	display: inline-block;
}