*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: 'Source Serif Pro', serif;
}

/* #region Alert */

.alert {
	position: relative;
	background: hsl(219, 89%, 52%);
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0.5rem 1.5rem;
	font-size: 16px;
}

.alert input {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0.75rem;
	padding: 0.25rem;
}

.alert input:is(:hover, :focus) {
	border: 2px solid white;
	right: calc(0.75rem - 2px);
}

.alert a {
	color: white;
}

.alert a:is(:hover, :focus) {
	border-bottom: solid 2px white;
	border-radius: 0 0 1px 1px;
}

/* #endregion */

/* #region "Skip To Content" link */

a[href="#main-content"] {
	z-index: 1;
	position: absolute;
	top: -5rem;
	left: -5rem;
	transition: opacity 1s;
	background: white;
	padding: 1rem;
	border: 1px solid black;
	transition: top 1s, left 1s;
}

a[href="#main-content"]:focus {
	top: 1rem;
	left: 1rem;
}

/* #endregion */

/* #region Nav */

nav {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: hsl(219, 89%, 52%);
	font-size: 16px;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block
}

/* #region Courses Dropdown */

summary {
	user-select: none;
}

summary::marker{
	content: "";
}

summary::after {
	content: " ▼";
	right: 1em;
	font-size: 0.5em;
	vertical-align: middle;
}

details {
	position: relative;
}

details[open] > summary::after {
	content: " ▲";
}

details > section {
	position: absolute;
	background: white;
	width: 99vw;
	top: 2em;
	padding-bottom: 2.5rem;
	left: -2rem;
}

details h2 > a {
	text-transform: uppercase;
	color: rgb(10, 42, 102);
	text-decoration: none;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

details h2 > a:is(:hover, :focus) {
	color: hsl(219, 89%, 52%);
	text-decoration: underline ;
}

details > section > section {
	float: left;
	width: 24.5vw;
}
details > section > section:first-of-type {
	padding-left: 1vw;
}

@media (max-width: 800px) {
	details > section > section {
		width: 49vw;
	}
	details > section > section:nth-of-type(-n+2) {
		float: left;
		padding-left: 1vw;
	}
	details > section > section:nth-last-of-type(-n+2) {
		float: right;
	}
}

@media (max-width: 400px) {
	details > section > section {
		float: none;
		width: 100%;
		padding-left: 1vw;
	}
}

details ul {
	padding: 0;
	width: 80%;
}

details ul li {
	padding: .5rem 0;
	display: block;
}

details ul li a {
	font-size: 16px;
	color: hsl(219, 89%, 52%);
	text-decoration: none;
}

details ul li a:is(:hover, :focus) {
	color: hsl(219, 89%, 52%);
	text-decoration: underline ;
}

/* #endregion Courses Dropdown */

/* #endregion Nav */