*, *::before, ::after {
	box-sizing: border-box;
	font-family: 'Yeseva One', cursive;
}

html {
	font-size: 62.5%;
}

a {
	color: inherit;
	text-decoration: none;
}

a:is(:hover, :focus, :active) {
	text-decoration: underline;
}


ul {
	list-style: none;
	padding: 0;
}

li {
	display: inline-block;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
}

.orange-button {
	padding: 0.75rem;
	background: #f80;
	color: white;
	border: none;
	cursor: pointer;
}

h3 {
	font-size: 2rem;
}

.stars {
	color: #ffaf51;
	font-size: 2rem;
}

@media (max-width: 800px) {
	h1 {
		font-size: 2rem;
	}
}

header {
	background: url(../assets/hero.png), linear-gradient(to right, #d9e4e8, #f2f6f7);
	background-color: #f2f6f7;
	background-repeat: no-repeat;
	background-position: top right, left;
	background-size: 50vh, 100%;
	overflow: auto;
}

header > nav > a img {
	height: 2rem;
	margin-left: 3rem;
	margin-top: 0.5rem;
}

header > nav ul {
	float: right;
}
header > nav ul li {
	margin-right: 1.5rem;
}
header > nav ul li img {
	position: relative;
	top: 0.375rem;
	height: 1rem;
}

@media (max-width: 600px) {
	header > nav li:nth-of-type(1), header > nav li:nth-of-type(2), header > nav li:nth-of-type(5){
		display: none;
	}
	header > nav li:nth-of-type(3), header > nav li:nth-of-type(4), header > nav li:nth-of-type(6){
		display: none;
	}
}

header > section {
	margin: 2.5%;
	padding: 2.5%;
	max-width: max-content;
}

@media (max-width: 600px) {
	header > section h1, header > section ul {
		background: rgba(255, 255, 255, 0.5);
		border-radius: 1rem;
	}
}


form {
	background: white;
	border: 1px solid grey;
	width: max-content;
	border-radius: .25rem;
}

form img {
	position: relative;
	top: .125rem;
	left: 0.5rem;
	width: 1rem;
}

input {
	padding: 0.75rem;
	border: none;
	width: 33vw;
}

input:focus {
	outline: none;
}


header section nav img {
	height: 0.75rem;
	margin-right: .25rem;
}

header section nav ul {
	margin-top: 2rem;
	max-width: max-content;
}

header section nav li {
	margin-right: 1rem;
}


main > section span:nth-of-type(1) {
	color: #f80;
}

.about-us {
	background: url(../assets/pies.png), url(../assets/oatmeal.jpg);
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-position: left, bottom right;
	background-size: auto 100%, contain;
}

.about-us div {
	padding: 1rem;
	padding-top: 2rem;
	width: 40%;
	margin: auto;
	margin-left: 33.33%;
}

@media (max-width: 800px) {
	.about-us div {
		background: rgba(255, 255, 255, 0.5);
		border-radius: 1rem;
		width: 70%;
		margin: auto;
	}
}

.about-us a {
	padding: 1rem;
	padding-right: 0;
	background: #f80;
	color: white;
	border-radius: 0.5rem;
}

.about-us a::after {
	display: inline-block;
	content: "➞";
	background: #ffaa4d;
	height: 3.1rem;
	width: 50%;
	width: 3rem;
	text-align: center;
	margin-left: 1rem;
	line-height: 3.1rem;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.order-online-now {
	text-align: center;
	margin-top: 2rem;
}

.order-online-now ul button {
	border: 0;
	border-bottom: 1px solid grey;
	padding: 1rem;
	background: none;
	margin: 0;
	cursor: pointer;
}

.order-online-now ul button:is(:focus, :active, :hover) {
	border-bottom: 1px solid #f80;
	color: #f80;
}

.cuisine-options {
	margin: 0 10%;
	overflow: auto;
}

.cuisine-options section {
	float: left;
	background: var(--bg-image);
	background-size: cover;
	background-position: center;
	position: relative;
	width: 19vw;
	height: 33vmin;
	margin: 0.5vw;
}

@media (max-width: 800px) {
	.cuisine-options section {
		float: none;
		background-image: var(--bg-image);
		background-size: cover;
		position: relative;
		width: 79vw;
		height: 50vh;
	}
}


html .cuisine-options section span {
	display: block;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background: #f80;
	color: white;
	border-radius: 1rem;
	padding: 0.3rem 1rem;
}

.cuisine-options section h3 {
	margin: 1rem;
}

.cuisine-options section:is(:hover, :active, :focus) > div {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 25%;
}

.cuisine-options section > div {
	display: none;
}

.cuisine-options .price {
	font-size: 1.5rem;
}

.carousel-indicators {
	margin-top: 1rem;
}

.carousel-indicators button {
	font-size: 0;
	width: 5px;
	height: 5px;
	padding: 0;
	border: 0;
	background: rgb(255, 136, 0, 0.5);
	border-radius: 100%;
	cursor: pointer;
}

.carousel-indicators button.active {
	width: 7.5px;
	height: 7.5px;
	background: #f80;
}


.book-table {
	text-align: center;
	margin-top: 2rem;
}

.phone-contact img {
	width: 5rem;
}
.phone-contact a {
	font-size: 2rem;
	color: #f80;
}
.phone-contact > * {
	margin-bottom: 1rem;
}
.phone-contact {
	margin-bottom: 1rem;
}

.hours {
	overflow: auto;
	margin: 0 33%;
	position: relative;
}

.hours section {
	text-align: left;
}

.hours section:nth-of-type(2) {
	position: absolute;
	top: 0;
	right: 0;
}


@media (max-width: 800px) {
	.hours {
		margin: 0 12.5%;
	}
}

.hours section span:nth-of-type(1) {
	font-size: 0.9rem;
	color: black;
	display: block;
}

.hours section span:nth-of-type(2) {
	font-size: 1.1rem;
}

.book-table > img {
	width: 90vmin;
	padding: 2rem;
}

.testimonials {
	text-align: center;
}

.testimonials img {
	width: 10vmax;
	border-radius: 100%;
}

.testimonials section h3 {
	margin: 0;
}

html .testimonials section span {
	color: grey;
	font-size: 0.9rem;
}

.testimonials p {
	width: 80%;
	font-style: italic;
	margin: auto;
	line-height: 1.5rem;
}